@import url(colors-variables.css);

.reset-form {
  margin: 0 auto;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.reset-form input {
  outline: none;
  display: block;
  background-color: var(--input-background);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: var(--input-text);
  font-size: inherit;
  margin:10px 0;
}

.reset-form a {
  text-decoration: none;
  color:var(--primary-heading);
  margin:10px;
}

.reset-form h1 {
  color: var(--primary-heading);
}

.reset-form label {
  color:var(--label-color)
}

.reset-form button {
  background-color: var(--primary-heading);
  border:none;
  color:var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  padding:12px 20px;
  font-weight: 700;
  margin: 10px 0;
}
