@import url(colors-variables.css);

.login-form {
  margin: 10% auto 0;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 3px 2px rgba(97, 93, 93, 0.408);
}

.login-form a {
  text-decoration: none;
  color: var(--primary-heading);
  margin: 3px 0;
}

.login-form button {
  background-color: var(--primary-heading);
  border: none;
  color: var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
  font-weight: 500;
  margin: 10px 0;
}

.login-form h1 {
  color:var(--primary-heading)
}

#google-div {
  margin: 5px 0;
}