@import url(colors-variables.css);

html {
  width: 100%;
  height: 100%;
}

body {
  background: white;
}

.login-form {
  margin: 0 auto;
  width: 500px;
  background-color: rgba(163, 231, 201, 0.418);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.login-form a {
  text-decoration: none;
  color:var(--primary-heading);
  margin:3px 0;
}

.login-form h1 {
  color: var(--primary-heading);
}

.login-form button {
  background-color: var(--primary-heading);
  border:none;
  color:var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  padding:12px 20px;
  font-weight: 700;
  margin: 10px 0;
}

#google-div {
  margin:5px 0;
}