@import url(colors-variables.css);

.signup-form {
  margin: 0 auto;
  width: 500px;
  box-shadow: 0px 0px 3px 2px rgba(97, 93, 93, 0.408);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.signup-form a {
  text-decoration: none;
  color:var(--primary-heading);
  margin:10px 50px;
}

.signup-form h1 {
  color: var(--primary-heading);
  margin-bottom: 25px;
}

.signup-form label {
  color:var(--label-color)
}

.signup-form button {
  background-color: var(--primary-heading);
  border:none;
  color:var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  padding:12px 20px;
  font-weight: 500;
  margin: 10px 0;
}
