@import url(colors-variables.css);

#tables {
  margin: 0 auto;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

#tables input {
  outline: none;
  display: block;
  background-color: var(--input-background);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: var(--input-text);
  font-size: inherit;
  margin:10px 0;
}


#tables h2 {
  color: var(--primary-heading);
}

#tables label {
  color:var(--label-color)
}

#tables button {
  background-color: var(--primary-heading);
  border:none;
  color:var(--button-text);
  border-radius: 4px;
  cursor: pointer;
  padding:12px 20px;
  font-weight: 700;
  margin: 10px 0;
}

#tables ul {
  list-style-type: none;
}
