.body-forgot {
    background-color: #ffffff;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    margin-top:3em;
}

.form-input {
    border:none;
    outline:none;
    background: none;
    border-bottom: 2px solid rgb(110, 110, 110);
    width: inherit;
    transition:border-color 0.5s;
    font-size:1.5em;
}

.form-input::placeholder {
    transition: color 0.3s;
}

.form-input:focus::placeholder {
    color:transparent;
}

.form-input:focus {
    border-color: #3260c2;
}


#reset-button {
    border-radius: 15px;
    height: 4.5em;
    width:22em;
    border:none;
    outline: none;
    font-size: 1em;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.23);
    color:white;
    background-color: #4078E5;
    padding:1em;
    width:15em;    
    transition: box-shadow, background-color 0.5s;
    font-weight: 700;
}

#reset-button:hover {
    box-shadow: none;
    background-color: #2e56a5;
}

#reset-form {
    height:50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.custom-shape-divider-bottom-1678793596 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-bottom-1678793596 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 285px;  
    z-index: -1;
}

.custom-shape-divider-bottom-1678793596 .shape-fill-reset {
    fill: #ACC5FC;
}