body {
    background-color: #FFF;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.signup-form {
    display:flex;
    flex-direction: column;
}


.form-input {
    border:none;
    outline:none;
    background: none;
    border-bottom: 2px solid rgb(110, 110, 110);
    width:22em;
}

.custom-shape-divider-bottom-1678793596 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-bottom-1678793596 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 285px;  
    z-index: -1;
}

.custom-shape-divider-bottom-1678793596 .shape-fill {
    fill: #ACC5FC;
}


