select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

p {
  font-weight: bold;
}

option {
  color: #333;
}

#item-container td {
  border: 1px solid rgb(148, 143, 143);
}
