@import url("../pages/colors-variables.css");

#side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  background-color: var(--sidebar-background);
  color: var(--button-text);
  height: 100vh;
  width: 10%;
  padding: 0.8em;
}

#side a,
#logout {
  text-decoration: none;
  color: var(--button-text);
  font-weight: 600;
  margin: 5% 0px;
  display: block;
}

#logout {
  border: none;
  background: none;
}

/* @media only screen and (max-width: 1600px) {
  #side {
    display:none;
  }
} */
