#styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height:800px;
    overflow-y:scroll;
    display:block;
}

#styled-table th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

#styled-table td {
    padding: 12px 15px;
}

#styled-table tr {
    border-bottom: 1px solid #dddddd;
}

#styled-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#styled-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tr.active-row {
    font-weight: bold;
    color: #009879;
}

#table-wrapper {
    display: flex;
    justify-content: center;
}